body {
    font-family: arial, sans-serif;
    background-color: #fff;
}

nav ul {
    text-align: right;
}

nav ul li {
    font-size: small;
}

li {
    display: inline-block;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}

div {
    display: block;
    text-align: center;
}

#logo {
    margin-top: 90px;
    margin-bottom: 50px;
}

#submit {
    font-size: small;
    margin-bottom: 35px;
}

#language ul {
    font-size:small;
}

footer div, span {
    color: rgba(0,0,0,.54);
    background-color: rgba(0,0,0,.05);
}

#country {
    border: solid 0.5px;
    border-right: 0px;
    border-left: 0px;
    text-align: left;
    padding-left: 25px;
    line-height: 40px;
}

#business {
    float: left;
}

#business li {
    float: left;
    padding-left: 0px;
    line-height: 20px;
}

#privacy {
    float: right;
}

#privacy li {
    float: right;
    line-height: 20px;
}

span {
    border-bottom: solid 0.5px;
    display: inline;
    width: 50%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer li {
    font-size: small;
    width: 100px;
}

input.bar {
    height: 25px;
    width: 500px;
    margin-bottom: 20px;
}